#edit-product-form {
    width: 80%;
    margin: 100px auto;
}

#edit-product-form input[type="text"]{
    width: 80%;
    margin: 10px auto;
    display: block;
    padding: 10px;
    text-align: center;
    background-color: burlywood;
}

#edit-product-form input[type="submit"]{
    width: 200px;
    margin: 10px auto;
    display: block;
    border: 2px solid #0099CC;
    border-radius: 10px;
    background-color: transparent;
    text-transform: uppercase;
    color: #0099CC;
}

#edit-product-form img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#edit-product-form label{
    color: #0099CC;
    text-align: center;
    font-family: "librebaskerville-regular", serif;
    font-size: 2rem;
    text-transform: uppercase;
}
#edit-product-form input[type="file"]{
    width: 80%;
    margin: 30px 50px;
    display: inline-block;
    padding: 20px;
    text-align: center;
}

#edit-dish-form {
    width: 80%;
    margin: 100px auto;
}

#edit-dish-form input[type="text"]{
    width: 80%;
    margin: 10px auto;
    display: block;
    padding: 10px;
    text-align: center;
    background-color: burlywood;
}

#edit-dish-form input[type="submit"]{
    width: 200px;
    margin: 10px auto;
    display: block;
    border: 2px solid #0099CC;
    border-radius: 10px;
    background-color: transparent;
    text-transform: uppercase;
    color: #0099CC;
}

#edit-dish-form img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

#edit-dish-form label{
    color: #0099CC;
    text-align: center;
    font-family: "librebaskerville-regular", serif;
    font-size: 2rem;
    text-transform: uppercase;
}
#edit-dish-form input[type="file"]{
    width: 80%;
    margin: 30px 50px;
    display: inline-block;
    padding: 20px;
    text-align: center;
}