<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OMNOMNOM</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<div th:replace="fragments.html :: header-menu"></div>

    <div class="about-us">
        <p>
            If you customer, in our platform you can sells products from your restaurants.
            You can describe your dish, add photo, write how category is it.
            Don't need search logistic, we make resolve this problem for you.
        </p>
        <p>
            If you user, this you can find dishes from all cuisine and order
            them to your home! It's very easy: make your chose, add dish to your order,
            write address delivery and put pay button. Soon you have fod on your door!
            Very easy, very simply. Enjoy!
        </p>
    </div>

<div th:replace="fragments.html :: footer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>