<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OMNOMNOM</title>
<!--    <link rel="stylesheet" href="/css/main.css">-->
    <link rel="stylesheet" href="/css/basket.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<div th:replace="fragments.html :: header-menu"></div>

<div id="content">

    <div class="row header">
        <div class="title">Dish</div>
        <div class="pieces">Pieces</div>
        <div class="price">Price per one</div>
        <div class="total">Price</div>
    </div>

    <th:block th:each="dish : ${dishes}">
        <div class="row">
            <div class="title" th:text="${dish.name}"></div>
            <div class="pieces" th:text="${dish.amount}"></div>
            <div class="price" th:text="${dish.price} + ' $'"></div>
            <div class="total" th:text="${dish.price*dish.amount} + ' $'"></div>
        </div>
    </th:block>

    <div class="row header">
        <div class="title"></div>
        <div class="pieces"></div>
        <div class="price">Total</div>
        <div class="total" th:text="${total} + ' $'"></div>
    </div>
</div>

<div th:replace="fragments.html :: footer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>