<!DOCTYPE html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>OMNOMNOM</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body>
<div th:replace="fragments.html :: header-menu"></div>

<div class="wrapper">
    <p>
        TEL.: +22 234 874 332
    </p>
    <p>
        E-MAIL: omnomnom.delivery@mail.com
    </p>
    <p>
        ADRESS: Rynek Glówny 17,
        Cracow, 30-234
    </p>
    <div class="push">

    </div>
</div>

<div th:replace="fragments.html :: footer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>